<%- include('partials/header.ejs') %>

  <main class="bg-yellow-100">

    <div class="h-screen flex justify-center items-center">

      <div class="w-full max-w-xs ">

        <form action="/api/login" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id="form">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="username" type="text" name="username" placeholder="Username" autocomplete="off" required>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <div class="flex flex-row items-center">
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="password" name="password" placeholder="Password" required>
              <div class="pb-3 -ml-8 opacity-25 cursor-pointer">
                <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
              </div>
            </div>
          </div>


          <%if(status=="error"){%>
            <div class="bg-red-100 border border-red-400 text-red-700 p-2 mb-4 rounded relative" role="alert"
              id="error"><%- msg %></div>
            <% } else if(status=="success" ){%>
              <div class="bg-green-100 border border-green-400 text-green-700 p-2 mb-4 rounded relative" role="alert"
                id="success"><%- msg %></div>
              <%} else{ %>
                <div></div>
                <%}%>


                  <div class="flex items-center justify-between">

                    <button
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                      type="submit">
                      Login
                    </button>

                    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                      href="/register">
                      Create Account
                    </a>
                  </div>
                  <p class="text-center text-gray-500 text-xs mt-6">
                    &copy;2022. All rights reserved.
                  </p>
        </form>


      </div>

    </div>


  </main>

  <script src="../js/passIcon.js" defer></script>
  <!-- <script src="../js/login.js" defer></script > -->

  <%- include('partials/footer.ejs') %>