<h1 class="font-bold font-medium m-3 pt-3">User log</h1>
<div class="border border-gray-200 mt-4">
  <dl>

    <div class="border-b border-gray-400 bg-gray-50 px-4 py-5 grid grid-cols-4 gap-4 px-6">
      <dt class="text-sm font-medium text-gray-900">UserID</dt>
      <dt class="text-sm font-medium text-gray-900">User</dt>
      <dt class="text-sm font-medium text-gray-900">Detail</dt>
      <dt class="text-sm font-medium text-gray-900">Date</dt>
      

    </div>

    <!-- Task contents -->
    <div class="bg-white px-4 py-5 grid grid-cols-4 gap-4 px-3">
      <dd class="text-sm font-medium text-gray-500 pt-2">UserID</dd>
      <dd class="text-sm font-medium text-gray-500 pt-2">User</dd>
      <dd class="text-sm font-medium text-gray-500 pt-2">Detail</dd>
      <dd class="text-sm font-medium text-gray-500 pt-2">Date</dd>
    </div>

  </dl>
</div>